*{ 
margin: 0; 
padding: 0;
box-sizing: border-box;

}

#container {	

		padding-left: 150px;
		margin: 50px 250px 20px 250px;
		height: auto;
		position: relative;
		text-align: center;
}		
.mainContainer {
		
		padding-right: 30px;
		padding-left:  30px;
		padding-top:   10px;
		margin: 10px;

		border:3px solid #fe8afe;
		position: auto 0;
		width: 450px;
		height: 500px; 		
}
#profileVisual {
		padding: 30px 50px 10px 50px;
		background-color: #ffeeff;
}
.Picture{
		padding: top 3em;
		position: relative;
		width: 200px;
		height: 200px;
		border-radius: 80%;
		border:1.5px solid #fe8afe;
}
.PictureOrigin{
	position: absolute;
	left:  420px;
	bottom: 260px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
		border:3px #fe8afe;
}
header{	
	padding-top:   5px;
	padding-bottom:    2px;

	background-color: #ffeeff;
}


h1 	{	color: #fe8afe ;
		text-align: center;
		margin: 5px;
}
.name{
	 top: 20px;
}
.work{
	top: 20px; 
}
article{
	background-color: #ffeeff;
	padding: 10px;
	margin-bottom: 10px;

}
strong{
	padding-bottom: 20px;
}

/*
footer{

		background-image: ("arboledaRosa.jpg");
		
		position: relative;
		height: 200px;
		width: 800px;

}
*/