* {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	margin: 10px;
	padding-left: 1em;
	padding-right: 1em;
	background: gray;
	
}
header {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 5px; 
	padding-right:  10px;
	padding-left:  10px;
	text-align: center;
	background-color: black;
}
nav{
	background-color: white;
	text-align: center;
}

ul{ font-size: 1.2em;
	color: white;
	

}
ul li{list-style: none;
	  display: inline-block;
	  margin: 5px;
	  padding: 1px;
	  background-color: coral;
}

#img1, #img2{
	
	height: 50px; 
	width: 56px;
}
#imgBlue {
	height: 80px;
	width: 90px;
}

#img1{display: left;
	margin-right: 150px;
}
#img2{display: right;
	margin-left: 150px;
}

h1{
	margin: 10px;
	color: white;
	font-size: 3em
}
#img1 , #img2, h1 {
	display: inline-block;
}

.rosaLeft{ 
	width: 45%;
	height: 10em;
	float: left;
	margin: 10px 0px 10px 0px;
	background-color: pink;
}
.rosaRight{ 
	width: 45%;
	height: 10em;
	float: right;
	margin: 10px 0px 10px 0px;
	background-color: pink;
}
#azul {
	display: inline-block;
	background: blue; 
	width: 100%;
	height:20%; 
}
#imgBlue{
	margin: 10px;
	float: right;
}
#verde{
	width: 30%;
	height: 45%;
	margin: 10px 5px 5px 5px;
	float: left;
}
footer{
	background-color: yellow;
	width: 100%;
	text-align: left;
	height:250px; 

}
#imgFooter{  
	float: left;
	margin: 10px;
}

/*
@media all and (max-width: 480){

	#container {width: 100%
		}
	h1{}
	nav{
		text-align: right; //corro el nav a la derecha
		position: fixed;
		top:20%;
		right: 0;
	}
	nav ul li {
		display: block;
		margin: 0;
	}
	section{
		margin: 10px;
	}
	.pink{
		width: 100%;
	}*/
}