{% extends 'layout.twig' %}

{% block body %}
  <h1>{{Bienvenido a Nombres}}</h1>

<p>Ingrese en la url:
/nombres - para ver nombres mixtos
/nombres/nenas - para ver nombres de nena
/nombres/nenes - para ver nombres de nene</p>
{% endblock %}
