{% extends 'layout.twig' %}

{% block body %}

<h1>Bienvenido a {{title}}</h1>

    <div class="celeste">
        <ul>
            {% for i in nene %}
                <li>{{ i }}</li>

            {% endfor %}
        </ul>
    </div>
{% endblock %}
