body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.celeste{
	background-color: lightblue;
}

.rosa{
	background-color: pink;
}

.amarillo{
	background-color: silver;
}


a {
  color: #00B7FF;
}
