* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #444444;
}
.portada {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
  height: 440px;
  background-color: #cccccc;
  background-image: url(../img/fondo1480-440.png);
  min-height: 20vh;
  max-height: 440px;
}
#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  padding: 2vh 2vw 2vh 2vw;
  flex-wrap: wrap;
}
#commingSoon {
  justify-content: space-around;
  color: #3C1053;
  font-size: 2em;
  font-family: "Lucida Console", monospace;
  font-style: italic;
}
span#commingSoon {
  text-align: center;
  margin-top: 7vh;
}
input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2em;
  width: 35vw;
  margin: 0vh 1vw 0vw 1vw;
  box-sizing: border-box;
  background-color: #ffeeff;
  font-size: 1em;
}
#mainContainer span {
  width: 15vw;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 0px;
  margin-top: 5px;
  font-size: 1em;
  font-family: "Lucida Console", monospace;
  font-style: italic;
}
button {
  margin-top: 5px;
  font-size: 1em;
  font-style: italic;
  font-family: "Lucida Console", monospace;
  width: 12vw;
}
.alignDer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  /*alinea horizontalmente a la derecha*/
}
footer {
  float: right;
  overflow: auto;
}
#socials {
  height: 500px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#githubIco:hover {
  background-image: url("../img/githubWhite.png");
}
#instagramIco:hover {
  background-image: url("../img/instagramGray.png");
}
#twitterIco:hover {
  background-image: url("../img/twitterWhite.png");
}
#linkedinIco:hover {
  background-image: url("../img/linkedinWhite.png");
}
