<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    {% block body %}{% endblock %}

    <script type='text/javascript' href='/javascripts/jquery.js'/>
 	<script type='text/javascript' href='/javascripts/validador.js'/>
  </body>
</html>
